Explaination

# Reading the csv file

In [36]:
import pandas as pd  # data frame operations
import numpy as np  # math operation
import matplotlib.pyplot as plt  # Diagrams/plots
import seaborn as sns   # Diagram/plots

In [37]:
# data set name: visadataset
# read csv file: comma separeated value
# extension: .csv
# you can read this using pandas package
# 
# read excel.file
# extension. xlsc

In [38]:
#path
#file location+filename+extension

path=r"Downloads\visadataset.csv"

In [15]:
pd.read_csv(path)

FileNotFoundError: [Errno 2] No such file or directory: 'Downloads\\visadataset.csv'

# Example-1

In [16]:
path=r"C:\Users\91851\Downloads\bank.csv"
pd.read_csv(path)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\91851\\Downloads\\bank.csv'

In [17]:
path=r"C:\Users\91851\Downloads\bank.csv"
pd.read_csv(path,
            sep=':'

SyntaxError: incomplete input (3324373341.py, line 3)

# EXample-2

In [18]:
path=r"C:\Users\91851\Downloads\Visadataset - Visadataset.csv"
pd.read_csv(path)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\91851\\Downloads\\Visadataset - Visadataset.csv'

# Create dataframes using List

In [19]:
name=["Ramesh","Suresh","Satish"]
age=[30,35,40]
name,age

(['Ramesh', 'Suresh', 'Satish'], [30, 35, 40])

Step- 1

create data frame

In [20]:
pd.DataFrame()   # make the dataframe

Empty DataFrame
Columns: []
Index: []

Step-2

provide data

In [21]:
pd.DataFrame(zip(name,age))

        0   1
0  Ramesh  30
1  Suresh  35
2  Satish  40

step-3

provide columns

In [22]:
#Provide columns
data=zip(name,age)
pd.DataFrame(data,columns=["Names","Age"])

    Names  Age
0  Ramesh   30
1  Suresh   35
2  Satish   40

In [23]:
#Provide columns
data=zip(name,age)
cols=['Name','Age']
pd.DataFrame(data,columns=cols)
#pd.DataFrame(data,columns=["Names","Age"])

     Name  Age
0  Ramesh   30
1  Suresh   35
2  Satish   40

Step-4

provide index

In [24]:
data=zip(name,age)
cols=['Name','Age']
ind=['A','B','C']
pd.DataFrame(data,columns=cols,index=ind)

     Name  Age
A  Ramesh   30
B  Suresh   35
C  Satish   40

In [25]:
data=zip(name,age)
cols=['Name','Age']
ind=['A','B','C']
pd.DataFrame(data,columns=cols,index=ind)

     Name  Age
A  Ramesh   30
B  Suresh   35
C  Satish   40

# ADD NEW COLumns

In [27]:
name=['Ramesh','Suresh','Satish']
Age=[30,35,40]

data=zip(name,age)
#pd.DataFrame(data,columns=["Names","Age"])
c1=['Name','Age']
#ind=['A','B','C']
Df=pd.DataFrame(data,columns=c1)
Df

     Name  Age
0  Ramesh   30
1  Suresh   35
2  Satish   40

In [28]:
-if you want to add new columns
-df['new column']
-you need to have a list which is having some elements
-that elements need to equal to number of rows

SyntaxError: invalid syntax (3660044906.py, line 1)

In [29]:
#create a list of city name
city_names=['Hyd','blr','chennai']
Df['city']=city_names
Df

     Name  Age     city
0  Ramesh   30      Hyd
1  Suresh   35      blr
2  Satish   40  chennai

***STEP-6*****

$ update $the$ $exsistings$ $columns$

-if you want to create new column or update the odd column
.both are same way

In [30]:
Df['Name']=['swami','asif','sathwik']
Df

      Name  Age     city
0    swami   30      Hyd
1     asif   35      blr
2  sathwik   40  chennai

# step-7

Drop the column

.in order to drop column
- we need to use drop method
- it takes 3 parameters
 -drop colums or row
 - mention the column name
- axis

    -axis=1 reference as column
    - axis=0 reference as row

    -you want to create a new dataframe or
    .you want overwhile the existing dataframe
      .inplace=True

In [31]:
Df

      Name  Age     city
0    swami   30      Hyd
1     asif   35      blr
2  sathwik   40  chennai

In [35]:
Df.drop(1,axis=0,inplace=True)
Df

KeyError: '[1] not found in axis'

In [33]:
Df['Name']=['swami','asif','sathwik']
Df

ValueError: Length of values (3) does not match length of index (2)

In [ ]:
name=['Ramesh','Suresh','Satish']
Age=[30,35,40]

data=zip(name,age)
#pd.DataFrame(data,columns=["Names","Age"])
c1=['Name','Age']
#ind=['A','B','C']
Df=pd.DataFrame(data,columns=c1)
Df

In [42]:
Df.drop(2,axis=0,inplace=True)
Df

     Name  Age
0  Ramesh   30
1  Suresh   35

In [44]:
Df.drop(1,axis=0,inplace=True)
Df

     Name  Age
0  Ramesh   30
2  Satish   40

STEP-9

Save the data frame

In [ ]:
Df.to_csv("output.csv")
Df.to_excel("output.csv")

In [49]:
Df.to_csv("output.csv",index=False)

In [50]:
pd.read_csv('output.csv')

   Unnamed: 0    Name  Age
0           0  Ramesh   30
1           2  Satish   40

#create dataframe using dictionary

In [53]:
d1={'Name':['Ramesh','Suresh','Satish'],'AGE':[30,35,40]}
pd.DataFrame(d1)

# no need of zip
# no need of column names

     Name  AGE
0  Ramesh   30
1  Suresh   35
2  Satish   40